[submodule "backend"]
	path = backend
	url = https://github.com/danielhuynh0/nlp-playlistgen.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/danielhuynh0/playlist-phantom-frontend.git
